/* 
 *  Archivo CSS parte de la extensión «Xitomatitos».
 *
 *  @author     Ulises Francisco Alejandre Navarro
 *  @since      2022-08-29
 *  @licence    MPL 2.0
 * 
 *  Este codigo fuente está sujeto a los términos de la Licencia Pública
 *  de Mozilla, v. 2.0. Si una copia de la licencia no fue distribuída con
 *  este archivo, la puede encontrar en http://mozilla.org/MPL/2.0/.
 */

html, body {
    width: auto;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: tomato;
}

.botones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    color: white;
}

.botones button {
    background-color: tomato;
    color: white;
    border: 1px solid white;
}

.botones button:hover {
    background-color: rgb(201, 37, 8);
}

.botones button:active {
    background-color: limegreen;
}

#entrada {
    display: grid;
}

